<div class="ng-container row justify-content-md-center">
    <div class="col-md-11">
        <table mat-table [dataSource]="dataSource">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>

            <ng-container matColumnDef="nazivOrgana">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Назив органа </th>
                <td matTooltip="Назив органа коме је упућен захтев" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.nazivOrgana}}
                </td>
            </ng-container>

            <ng-container matColumnDef="sedisteOrgana">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Седиште органа </th>
                <td matTooltip="Седиште органа коме је упућен захтев" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.sedisteOrgana}}
                </td>
            </ng-container>

            <ng-container matColumnDef="obavestenje">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Обавештење </th>
                <td matTooltip="Обавештење да ли орган поседује тражену информацију" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <mat-icon *ngIf = "row.obavestenje === 'true'">done</mat-icon>
                    <mat-icon *ngIf = "row.obavestenje === 'false'">close</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="uvid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Увид </th>
                <td matTooltip="Увид у документ који садржи тражену иформацију" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <mat-icon *ngIf = "row.uvid === 'true'">done</mat-icon>
                    <mat-icon *ngIf = "row.uvid === 'false'">close</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="kopija">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Копија </th>
                <td matTooltip="Копија документа који садржи тражену информацију" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <mat-icon *ngIf = "row.kopija === 'true'">done</mat-icon>
                    <mat-icon *ngIf = "row.kopija === 'false'">close</mat-icon>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="dostava">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Начин доставе </th>
                <td matTooltip="Достављање копије документа који садржи тражену иформацију" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.dostava}}
                </td>
            </ng-container>

            <ng-container matColumnDef="informacije">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Тражена информацијa </th>
                <td matTooltip="Опис тражене иформације" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.informacije}}
                </td>
            </ng-container>

            <ng-container matColumnDef="mesto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Место захтева </th>
                <td matTooltip="Место подношења захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.mesto}}
                </td>
            </ng-container>

            <ng-container matColumnDef="datum">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум захтева </th>
                <td matTooltip="Датум подношења захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.datum}}
                </td>
            </ng-container>

            <ng-container matColumnDef="preuzimanje">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Преузми </th>
                <td matTooltip="Преузимање захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <a (click)="generisiPDF(row.id)" class="link">PDF</a><a (click)="generisiHTML(row.id)" class="link">HTML</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="preuzimanjeMeta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Преузми метаподатке</th>
                <td matTooltip="Преузимање метаподатака захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <a (click)="generisiRDF(row.id)" class="link">RDF</a><a (click)="generisiJSON(row.id)" class="link">JSON</a>
                </td>
            </ng-container>
        </table>
        <mat-hint>Пређите преко поља табеле за детаљнији опис.</mat-hint>
    </div>
</div>