<div class="ng-container row justify-content-md-center">
    <div class="col-md-11">
        <table mat-table [dataSource]="dataSource">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>

            <ng-container matColumnDef="brojZalbe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Број жалбе </th>
                <td matTooltip="Број жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.brojZalbe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="brojZahteva">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Број захтева </th>
                <td matTooltip="Број захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.brojZahteva}}
                </td>
            </ng-container>

            <ng-container matColumnDef="organ">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Орган </th>
                <td matTooltip="Назив органа ком се упућује жалба" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.organ}}
                </td>
            </ng-container>

            <ng-container matColumnDef="podnosilac">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Подносилац </th>
                <td matTooltip="Име подносиоца жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.podnosilac}}
                </td>
            </ng-container>

            <ng-container matColumnDef="datumZalbe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум жалбе </th>
                <td matTooltip="Датум подношења жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.datumZalbe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="razresena" *ngIf="role==='ROLE_KORISNIK'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Разрешена </th>
                <td matTooltip="Да ли је жалба разрешена" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.razresena}}
                </td>
            </ng-container>

            <ng-container matColumnDef="preuzimanje" *ngIf="role==='ROLE_KORISNIK'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Преузми </th>
                <td matTooltip="Преузимање жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <a href="/preuzmi-pdf/1" style="margin-right: 3px;">PDF</a><a href="/preuzmi-xml/1" style="margin-right: 3px;">XML</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="razresi" *ngIf="role==='ROLE_POVERENIK'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Разреши </th>
                <td matTooltip="Разрешавање жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.razresi}}
                </td>
            </ng-container>
        </table>
        <mat-hint>Пређите преко поља табеле за детаљнији опис.</mat-hint>
    </div>
</div>