<div class="ng-container row justify-content-md-center bottom">
    <div class="col-md-11">
        <button tabindex="0" (click)="generisiIzvistaj()" class="generisi">Генериши извештај</button>
    </div>
</div>
<div class="ng-container row justify-content-md-center">
    <div class="col-md-11">
        <table mat-table [dataSource]="dataSource">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>

            <ng-container matColumnDef="godisnjiIzvestaj">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Годишњи извештај </th>
                <td matTooltip="Назив органа власти који није поступио" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.godisnjiIzvestaj}}
                </td>
            </ng-container>

            <ng-container matColumnDef="datumGenerisanja">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум генерисања </th>
                <td matTooltip="Разлог жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.datumGenerisanja}}
                </td>
            </ng-container>

            <ng-container matColumnDef="pregled">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Преглед </th>
                <td matTooltip="Разлог жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <button tabindex="0" (click)="pregledIzvestaja(row.id)" class="generisi">Преглед</button>
                </td>
            </ng-container>

        </table>
        <mat-hint>Пређите преко поља табеле за детаљнији опис.</mat-hint>
    </div>
</div>