<div class="ng-container row justify-content-md-center">
    <div class="col-md-11">
        <table mat-table [dataSource]="dataSource">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>

            <ng-container matColumnDef="organVlasti">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Орган </th>
                <td matTooltip="Назив органа власти који није поступио" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.organVlasti}}
                </td>
            </ng-container>

            <ng-container matColumnDef="razlogZalbe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Разлог жалбе </th>
                <td matTooltip="Разлог жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.razlogZalbe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="datumZahteva">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум захтева </th>
                <td matTooltip="Датум подношења захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.datumZahteva}}
                </td>
            </ng-container>

            <ng-container matColumnDef="podaci">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Подаци </th>
                <td matTooltip="Подаци о захтеву и информацији/ама" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.podaci}}
                </td>
            </ng-container>

            <ng-container matColumnDef="datumZalbe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум жалбе </th>
                <td matTooltip="Датум подношења жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.datumZalbe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="mestoZalbe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Место жалбе </th>
                <td matTooltip="Место подношења жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.mestoZalbe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="razresena">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Разрешена </th>
                <td matTooltip="Да ли је жалба разрешена" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.razresena}}
                </td>
            </ng-container>

            <ng-container matColumnDef="preuzimanje">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Преузми </th>
                <td matTooltip="Преузимање жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <a (click)="generisiPDF(row.id)" class="link">PDF</a><a (click)="generisiHTML(row.id)" class="link">HTML</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="preuzimanjeMeta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Преузми метаподатке</th>
                <td matTooltip="Преузимање метаподатака жалбе на ћутање" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <a (click)="generisiRDF(row.id)" class="link">RDF</a><a (click)="generisiJSON(row.id)" class="link">JSON</a>
                </td>
            </ng-container>
        </table>
        <mat-hint>Пређите преко поља табеле за детаљнији опис.</mat-hint>
    </div>
</div>