<form [formGroup]="obicnaForm">
    <div class="row">
        <div class="col-md-2.5 left top">
            <mat-label>Основна претрага:</mat-label>
        </div>
        <!-- Sve -->
        <div class="col-md-2">
            <div class="form-group">
                <mat-form-field class="form-field">
                    <mat-label>Претрага по текстуалном садржају</mat-label>
                    <input matInput formControlName="sve" placeholder="Нпр. бео">
                </mat-form-field>
            </div>
        </div>
        <!-- Pretraga -->
        <div class="col-md-2">
            <button mat-raised-button class="align" class="btn-purple btn bottom" (click)="obicnaPretraga()">
                Претрага захтева
            </button>
        </div>
    </div>
</form>

<form [formGroup]="metaDataForm">
    <div class="row">
        <div class="col-md-2.5 left top">
            <mat-label matTooltip="Претрага по метаподацима" 
            matTooltipPosition="above">Напредна претрага:</mat-label>
        </div>
        <!-- Naziv primaoca -->
        <div class="col-md-2">
            <div class="form-group">
                <mat-form-field class="form-field">
                    <mat-label>Претрага по називу примаоца захтева</mat-label>
                    <input matInput formControlName="primalacNaziv" placeholder="Нпр. бео">
                </mat-form-field>
            </div>
        </div>
        <!-- Ime podnosioca -->
        <div class="col-md-2">
            <div class="form-group">
                <mat-form-field class="form-field">
                    <mat-label>Претрага по имену подносиоца захтева</mat-label>
                    <input matInput formControlName="podnosilacIme" placeholder="Нпр. бео">
                </mat-form-field>
            </div>
        </div>
        <!-- Prezime podnosioca -->
        <div class="col-md-2">
            <div class="form-group">
                <mat-form-field class="form-field">
                    <mat-label>Претрага по презимену подносиоца захтева</mat-label>
                    <input matInput formControlName="podnosilacPrezime" placeholder="Нпр. бео">
                </mat-form-field>
            </div>
        </div>
        <!-- Naziv podnosioca -->
        <div class="col-md-2">
            <div class="form-group">
                <mat-form-field class="form-field">
                    <mat-label>Претрага по називу подносиоца захтева</mat-label>
                    <input matInput formControlName="podnosilacNaziv" placeholder="Нпр. бео">
                </mat-form-field>
            </div>
        </div>
        <!-- Vezani gradjanin -->
        <div class="col-md-2">
            <div class="form-group">
                <mat-form-field class="form-field">
                    <mat-label>Претрага по везаном грађанину</mat-label>
                    <input matInput formControlName="vezaniGradjanin" placeholder="Нпр. бео">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1.5 left">
            <mat-label>Начин напредне претраге:</mat-label>
        </div>
        <div class="col-md-7">
            <mat-radio-group formControlName="operator" aria-label="Начин претраге">
                <mat-radio-button value="AND" [checked] = true>Захтев мора да задовољи све параметре</mat-radio-button>
                <mat-radio-button value="OR">Захтев мора да задовољи барем један параметар</mat-radio-button>
            </mat-radio-group>
        </div>
        <!-- Filter -->
        <div class="col-md-2">
            <button mat-raised-button class="align" class="btn-purple btn bottom" (click)="metapodaciPretraga()">
                Претрага захтева
            </button>
        </div>
    </div>
</form>



<div class="ng-container row justify-content-md-center">
    <div class="col-md-11">
        <table mat-table [dataSource]="dataSource">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>

            <ng-container matColumnDef="nazivOrgana">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Назив органа </th>
                <td matTooltip="Назив органа ком је упућен захтев" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.nazivOrgana}}
                </td>
            </ng-container>

            <ng-container matColumnDef="sedisteOrgana">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Седиште органа </th>
                <td matTooltip="Седиште органа ком је упућен захтев" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.sedisteOrgana}}
                </td>
            </ng-container>

            <ng-container matColumnDef="obavestenje">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Обавештење </th>
                <td matTooltip="Обавештење да ли орган поседује тражену информацију" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <mat-icon *ngIf = "row.obavestenje === 'true'">done</mat-icon>
                    <mat-icon *ngIf = "row.obavestenje === 'false'">close</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="uvid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Увид </th>
                <td matTooltip="Увид у документ који садржи тражену иформацију" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <mat-icon *ngIf = "row.uvid === 'true'">done</mat-icon>
                    <mat-icon *ngIf = "row.uvid === 'false'">close</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="kopija">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Копија </th>
                <td matTooltip="Копија документа који садржи тражену информацију" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <mat-icon *ngIf = "row.kopija === 'true'">done</mat-icon>
                    <mat-icon *ngIf = "row.kopija === 'false'">close</mat-icon>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="dostava">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Начин доставе </th>
                <td matTooltip="Достављање копије документа који садржи тражену иформацију" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <div *ngIf="row.dostava === 'false'; then nema else ima"></div>
                    <ng-template #nema><mat-icon>close</mat-icon></ng-template>
                    <ng-template #ima>{{row.dostava}}</ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="informacije">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Тражена информацијa </th>
                <td matTooltip="Опис тражене иформације" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.informacije}}
                </td>
            </ng-container>

            <ng-container matColumnDef="mesto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Место захтева </th>
                <td matTooltip="Место подношења захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.mesto}}
                </td>
            </ng-container>

            <ng-container matColumnDef="datum">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум захтева </th>
                <td matTooltip="Датум подношења захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.datum}}
                </td>
            </ng-container>

            <ng-container matColumnDef="trazilacInformacija">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Тражилац информација </th>
                <td matTooltip="Име и презиме тражиоца информације" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.trazilacInformacija}}
                </td>
            </ng-container>

            <ng-container matColumnDef="adresaTrazioca">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Адреса тражиоца </th>
                <td matTooltip="Адреса тражиоца информације" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.adresaTrazioca}}
                </td>
            </ng-container>

            <ng-container matColumnDef="kontaktTelefon">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Контакт телефон </th>
                <td matTooltip="Контакт телефон тражиоца информације" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.kontaktTelefon}}
                </td>
            </ng-container>

            <ng-container matColumnDef="razresen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус захтева </th>
                <td matTooltip="Статус захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <div *ngIf="row.razresen === 'true'; then tekst else dugme"></div>
                    <ng-template #tekst>Разрешен</ng-template>
                    <ng-template #dugme><button (click) = "createObavestenje(row)">Креирај Обавештење</button></ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="preuzimanje">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Преузми </th>
                <td matTooltip="Преузимање захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <a (click)="generisiPDF(row.id)" class="link">PDF</a><a (click)="generisiHTML(row.id)" class="link">HTML</a>
                </td>
            </ng-container>
        </table>
        <mat-hint>Пређите преко поља табеле за детаљнији опис.</mat-hint>
    </div>
</div>