<div class="ng-container row justify-content-md-center">
    <div class="col-md-11">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === row"
                (click)="expandedElement = expandedElement === row ? null : row; fetchZahtev(row.zahtevId)">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

            <ng-container matColumnDef="nazivOrgana">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Назив органа </th>
                <td matTooltip="Назив органа ком је упућен захтев" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.nazivOrgana}}
                </td>
            </ng-container>

            <ng-container matColumnDef="sedisteOrgana">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Седиште органа </th>
                <td matTooltip="Седиште органа ком је упућен захтев" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.sedisteOrgana}}
                </td>
            </ng-container>

            <ng-container matColumnDef="brojPredmeta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Број предмета </th>
                <td matTooltip="Број предмета" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.brojPredmeta}}
                </td>
            </ng-container>

            <ng-container matColumnDef="datum">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум креирања обавештења </th>
                <td matTooltip="Датум одговора на захтев" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.datum}}
                </td>
            </ng-container>

            <ng-container matColumnDef="datumZahteva">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум подношења захтева </th>
                <td matTooltip="Датум подношења захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.datumZahteva}}
                </td>
            </ng-container>
            
            <ng-container matColumnDef="informacije">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Тражене информације </th>
                <td matTooltip="Опис тражене информације" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.informacije}}
                </td>
            </ng-container>

            <ng-container matColumnDef="danCasovi">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум увида </th>
                <td matTooltip="Датум увида у документ у ком је садржана информација" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.danCasovi}}
                </td>
            </ng-container>

            <ng-container matColumnDef="vreme">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Време увида </th>
                <td matTooltip="Време увида у документ у ком је садржана информација" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.vreme}}
                </td>
            </ng-container>

            <ng-container matColumnDef="adresaOrgana">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Адреса увида </th>
                <td matTooltip="Адреса просторија органа" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.adresaOrgana}}
                </td>
            </ng-container>

            <ng-container matColumnDef="brojKancelarije">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Број канцеларије </th>
                <td matTooltip="Број канцеларије" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.brojKancelarije}}
                </td>
            </ng-container>

            <ng-container matColumnDef="preuzimanje">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Преузми </th>
                <td matTooltip="Преузимање обавештења" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <a class="link" (click)="generisiPDF(row.id)">PDF</a><a class="link" (click)="generisiHTML(row.id)">HTML</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="preuzimanjeMeta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Преузми метаподатке</th>
                <td matTooltip="Преузимање метаподатака обавештења" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <a (click)="generisiRDF(row.id)" class="link">RDF</a><a (click)="generisiJSON(row.id)" class="link">JSON</a>
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-description">
                        <div class="row">
                            Везан захтев: {{fetchedZahtev.nazivOrgana}}, {{fetchedZahtev.sedisteOrgana}}, {{fetchedZahtev.informacije}}, {{fetchedZahtev.mesto}}, {{fetchedZahtev.datum}}
                        </div>
                    </div>
                </div>
                </td>
            </ng-container>

        </table>
        <mat-hint>Пређите преко поља табеле за детаљнији опис.</mat-hint>
        <mat-hint> Кликните на ред табеле да бисте видели линкован захтев.</mat-hint>
    </div>
</div>