<div class="ng-container row justify-content-md-center">
    <div class="col-md-11">
        <table mat-table [dataSource]="dataSource">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>

            <ng-container matColumnDef="nazivOrgana">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Назив органа </th>
                <td matTooltip="Назив органа ком је упућен захтев" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.nazivOrgana}}
                </td>
            </ng-container>

            <ng-container matColumnDef="sedisteOrgana">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Седиште органа </th>
                <td matTooltip="Седиште органа ком је упућен захтев" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.sedisteOrgana}}
                </td>
            </ng-container>

            <ng-container matColumnDef="brojPredmeta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Број предмета </th>
                <td matTooltip="Број предмета" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.brojPredmeta}}
                </td>
            </ng-container>

            <ng-container matColumnDef="datum">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум обавештења </th>
                <td matTooltip="Датум креирања обавештења" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.datum}}
                </td>
            </ng-container>

            <ng-container matColumnDef="imePrezime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Име и презиме </th>
                <td matTooltip="Име и презиме подносиоца захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.imePrezime}}
                </td>
            </ng-container>

            <ng-container matColumnDef="adresa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Адреса </th>
                <td matTooltip="Адреса подносиоца захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.adresa}}
                </td>
            </ng-container>

            <ng-container matColumnDef="datumZahteva">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум захтева </th>
                <td matTooltip="Датум подношења захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.datumZahteva}}
                </td>
            </ng-container>
            
            <ng-container matColumnDef="informacije">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Тражене информације </th>
                <td matTooltip="Опис тражене информације" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.informacije}}
                </td>
            </ng-container>

            <ng-container matColumnDef="preuzimanje">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Преузми </th>
                <td matTooltip="Преузимање захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <a class="link" (click)="generisiPDF(row.id)">PDF</a><a (click)="generisiHTML(row.id)" class="link">HTML</a>
                </td>
            </ng-container>
        </table>
        <mat-hint>Пређите преко поља табеле за детаљнији опис.</mat-hint>
    </div>
</div>