<div class="ng-container row justify-content-md-center">
    <div class="col-md-11">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
            <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>-->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === row"
                (click)="expandedElement = expandedElement === row ? null : row; fetchZahtev(row.zahtev)">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

            <ng-container matColumnDef="naziv">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Назив жалиоца </th>
                <td matTooltip="Назив жалиоца" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.naziv}}
                </td>
            </ng-container>

            <ng-container matColumnDef="adresa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Адреса жалиоца </th>
                <td matTooltip="Адреса жалиоца" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.adresa}}
                </td>
            </ng-container>

            <ng-container matColumnDef="organVlasti">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Назив органа власти </th>
                <td matTooltip="Назив органа власти који је донео одлуку" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.organVlasti}}
                </td>
            </ng-container>

            <ng-container matColumnDef="broj">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Број одлуке </th>
                <td matTooltip="Број одлуке" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.broj}}
                </td>
            </ng-container>

            <ng-container matColumnDef="godina">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Година одлуке </th>
                <td matTooltip="Година одлуке" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.godina}}
                </td>
            </ng-container>

            <ng-container matColumnDef="datumZahteva">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум захтева </th>
                <td matTooltip="Датум подношења захтева" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.datumZahteva}}
                </td>
            </ng-container>

            <ng-container matColumnDef="razlogZalbe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Разлог жалбе </th>
                <td matTooltip="Разлог жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.razlogZalbe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="datumZalbe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Датум жалбе </th>
                <td matTooltip="Датум подношења жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.datumZalbe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="mestoZalbe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Место жалбе </th>
                <td matTooltip="Место подношења жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    {{row.mestoZalbe}}
                </td>
            </ng-container>

            <ng-container matColumnDef="razresena">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Разрешена </th>
                <td matTooltip="Да ли је жалба разрешена" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <mat-icon *ngIf = "row.razresena === 'true'">done</mat-icon>
                    <mat-icon *ngIf = "row.razresena === 'false'">close</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="preuzimanje">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Преузми </th>
                <td matTooltip="Преузимање жалбе" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <a (click)="generisiPDF(row.id)" class="link">PDF</a><a (click)="generisiHTML(row.id)" class="link">HTML</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="preuzimanjeMeta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Преузми метаподатке</th>
                <td matTooltip="Преузимање метаподатака жалбе на одлуку" matTooltipPosition="above" mat-cell *matCellDef="let row">
                    <a (click)="generisiRDF(row.id)" class="link">RDF</a><a (click)="generisiJSON(row.id)" class="link">JSON</a>
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            <div class="row">
                                Везан захтев: {{fetchedZahtev.nazivOrgana}}, {{fetchedZahtev.sedisteOrgana}}, {{fetchedZahtev.informacije}}, {{fetchedZahtev.mesto}}, {{fetchedZahtev.datum}}
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>
        </table>
        <mat-hint>Пређите преко поља табеле за детаљнији опис.</mat-hint>
    </div>
</div>